.about{
    grid-template-areas: 
    "title"
    "text"
    ".";
    grid-template-rows: .5fr auto auto;
    background-color: var(--background-diferente);
    padding: 1rem;
    color: var(--texto-blanco);
}

.about__text{
    font-size: 1rem;
    line-height: 1.5rem;
}

.about__avatar__img{
    width: 0%;
}


@media screen and (min-width: 1024px){

    .about{
        grid-template-rows: .5fr auto 0;
        grid-template-columns: auto auto;

    }

    .about__title{
        grid-area: 2/1/3/2;
        align-self: center;
        position: relative;
        bottom: 10rem;
        margin-left: 1rem;
    }

    .about__text{
        grid-area: 2/1/3/2;
        align-self: center;
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .about__avatar__img{
        grid-area: 2/2/3/3;
        width:56%;
        justify-self: center;
        box-shadow: 3px 3px 10px 2px #000;
    }

    


}