.about{
    grid-template-areas: 
    "title"
    "title"
    "space";
    grid-template-rows: .5fr auto auto;
    background-color: var(--background-diferente);
    padding: 1rem;
    color: var(--texto-blanco);
}

.about__text{
    font-size: 1rem;
    line-height: 1.5rem;
}


