:root {
    --background-general: #10263B;
    --background-diferente: #1E2E3C;
    --background-botones-hover: #0E4D9A;
    --background-botones-normal: #041729;
    --background-skills--academic: #DCDCDC;

    --linea-divisoria: #0288D1;

    --marco-avatar: rgba(33,119,187,.5);
    --marcos-botones-normal--form-active: #2A7AE4;
    --marcos-skills--academic: #2177BB;

    --texto-blanco: #F0EDEB;
    --texto-naranja: #FF9F52;
    --texto-skills-negro: #111111;

    --font-general: 'Raleway';
}

.page{
    background-color: var(--background-general);
    font-family: var(--font-general);
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto 40px ;
}

main{
    height: 100%;
    display: grid;
    grid-template-areas:
    "main-page"
    "about"
    "hard-skills"
    "soft-skills"
    "academic"
    "experience"
    "contact"
    ;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - 40px) 105vh 115vh 115vh 150vh 150vh 100vh;
}

.container{
    display:grid;
}

.section-title{
    font-size: 1.5rem;
    color: var(--texto-blanco);
    font-weight: 700;
    align-self: center;
    justify-self: center;
}

.about__title, .contact__title{
    justify-self: start;
}