.contact {
    grid-template-areas:
        "title"
        "subtitle"
        "text"
        "form";
    grid-template-rows: 12% max-content max-content auto;
    padding: 1rem;
    background-color: var(--background-diferente);
}

.contact__title, .contact__subtitle, .contact__text {
    color : var(--texto-naranja)
}

.contact__subtitle, .contact__text{
    font-weight: 500;
}

.contact__subtitle{
    align-self: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.contact__text{
    padding-bottom: 2rem;
}

.contact__img{
    display:none;
}

.contact__form{
    display:grid;
    grid-template-areas:
        "name"
        "email"
        "subject"
        "textarea"
        "button";
    row-gap: 1.2rem;
    grid-template-rows: min-content min-content min-content min-content min-content;
}

.contact__form__label{
    display:grid;
    grid-template-areas:
    "label"
    "input";
    grid-template-rows: min-content min-content;
    background-color: var(--texto-blanco);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    row-gap: 6px;
    border-radius: 6px;
    border-bottom: 1px solid var(--texto-label);
    color: var(--texto-label);
    transition: all .1s;
}

.contact__form__label:focus-within{
    border-bottom: 3px inset var(--marcos-botones-normal--form-active);
    color: var(--marcos-botones-normal--form-active);
}

.contact__form__input{
    border:none;
    background-color: var(--texto-blanco);
    font-size: .98rem;
    outline: none;
}

.contact__form__input::placeholder{
    color: var(--texto-label);
}

#email__label{
    row-gap: .4rem;
    padding: .5rem 1rem;
}

#subject__label{
    row-gap:0;
    padding: 1rem 1rem;
}

#textarea{
    border: none;
    background-color: var(--texto-blanco);
    font-size: 1.1rem;
    font-family: var(--font-general);
    resize: none;
    outline: none;
    padding: .7rem 0;
}

form .error{
    color:red;
    margin: -.8rem .2rem;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .03rem;
}

.contact__form__button{
    margin: 1rem 0;
    padding: 16px 20px;
    font-size: 1rem;
    font-family: var(--font-general);
    font-weight: 500;
    background-color: var(--background-botones-normal);
    color: var(--texto-blanco);
    border: 1px solid var(--marcos-botones-normal--form-active);
    justify-self: start;
    height: 60px;
}

#message{
    display: grid;
    margin-top: 1rem;
    justify-items: center;
    color: #f0edeb;
    justify-self: center;
    text-align: center;
    background-color: #0b1928;
    padding: 2rem .7rem;
    grid-template-rows: auto auto auto min-content;
    height: 450px;
    border: 4px outset #0288d1;
}


.message__check {
    width: 200px;
    height: 200px;
}


.message__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.message__subtitle {
    font-size: 1.3rem;
}

.message__text {
    font-size: 1.1rem;
    line-height: 1.4rem;
    border-top: 2px solid #0288d1;
    border-bottom: 2px solid #0288d1;
    padding: .6rem;
    font-weight: 500;
}

@media screen and (min-width: 500px) {

    .contact__form__button{
        margin: 1rem 0 5.5rem 0;
    }

    .contact__form{
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){

    .contact{
        grid-template-rows: 20% max-content max-content auto;
        padding: 1rem;
        background-color: var(--background-diferente);
        padding: 2rem;
    }

    .contact__subtitle{
        font-size:1.5rem;
    }

    .contact__text{
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .contact__form__button{
        margin: 1rem 0 ;
    }

    .contact__form{
        row-gap: 1.5rem;
        width: 80%;
    }

    .contact__form__label{
        font-size: .9rem;
    }

    .contact__form__input{
        font-size: 1.4rem;
    }

    #textarea{
        font-size: 1.4rem;
    }

    .contact__form__button{
        font-size: 1.2rem;
    }

    #message{
        grid-template-rows: 54% 12% 15% min-content;
        height: 470px;
    }
}


@media screen and (min-width: 1024px){
    
    .contact{
        justify-content: center;
        grid-template-rows: 15% max-content max-content auto;
        grid-template-columns: auto 48%;
    }

    .contact__title{
        grid-column: 2/3;
    }

    .contact__subtitle{
        font-size: 1.4rem;
        grid-column: 2/3;
    }

    .contact__text{
        grid-column: 2/3;
    }

    .contact__img{
        display:block;
        width: 65%;
        grid-column: 1/2;
        align-self: start;
        justify-self: center;
        overflow: hidden;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        margin-right: 3rem;
    }

    
    #message {
        grid-template-rows: 51% 12% 15% min-content;
    }

    @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-35px);
        }
        100% {
          transform: translatey(0px);
        }
      }

}
