.experience {
    grid-template-areas:
        "title"
        "box1"
        "box2";
    grid-template-rows: 12% auto auto;
    padding: 1rem;
    color: var(--texto-blanco);
}

.experience__box {
    display: grid;
    grid-template-areas:
        "img"
        "description"
    ;
    grid-template-rows: auto auto;
    align-items: center;
}

.experience__box__img-box {
    grid-area: img;
}

.experience__box__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: .5rem 0;
    max-width: 752px;
}


.experience__box ul{
    align-self: start;
}

.experience__box__title {
    grid-area: title;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 .7rem 0 ;
}

.experience__box__description {
    grid-area: description;
    margin: .7rem 0;
}

.experience__box__button{
    margin: .4rem 0;
    padding: 16px 20px;
    font-size: 1rem;
    font-family: var(--font-general);
    font-weight: 500;
    background-color: var(--background-botones-normal);
    color: var(--texto-blanco);
    border: 1px solid var(--marcos-botones-normal--form-active);
}

.repository-link{
    margin-right: 1rem;
}

@media screen and (min-width: 375px){
    .experience__box__title {
        font-size: 1.2rem;
    }
    
    .experience__box__description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 500px) {

    .experience {
        grid-template-rows: 10% auto auto;
    }
    
    .experience__box__img{
        width: 80%;
    }

    .experience :nth-child(3){
        justify-items: end;
    }
    .experience :nth-child(3) .experience__box__img-box{
        display: grid;
        justify-items: end;
    }
    .experience :nth-child(3) .experience__box__title{
        text-align: end;
    }
    .experience :nth-child(3) .experience__button__container{
        text-align: end;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){

    .experience{
        padding:2rem;
    }

    .experience__box__img{
        width: 100%;
    }

    .experience__box{
        width:90%;
    }

    .experience :nth-child(3){
        justify-self: end;
    }

    .experience__box__title{
        font-size: 1.5rem;
    }
    
    .experience__box__description{
        font-size: 1.2rem;
    }

    .experience__box__button{
        font-size: 1.2rem;
    }

}


@media screen and (min-width: 1024px){

    .experience {
        grid-template-rows: 15% auto auto;
        padding: 0 2rem;
        margin-bottom: 2rem;
    }
    
    .experience__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
    }

    .experience__box__img{
        margin:0;
        width: 100%;
    }

    .experience__box__title{
        font-size: 1.2rem;
    }

    .experience__box ul{
        justify-self: center;
        align-self: center;
    }

    .experience__box__description{
        font-size: 1rem;
    }

    .experience :nth-child(3) ul{
        grid-column: 1/2;
    }

    .experience :nth-child(3) .experience__box__img-box{
        grid-column: 2/3;
    }

    .experience__box__button{
        font-size: 1rem;
    }

    .experience :nth-child(3){
        justify-items: start;
        text-align: start;
    }

}

@media screen and (min-width: 1440px){
    .experience {
        grid-template-rows: 15% auto auto;
        padding: 0 2rem;
        margin-bottom: 2rem;
    }
}