.footer{
    background-color:var(--background-general);
    justify-items: center;
    color: var(--texto-blanco);
    box-shadow: inset 0px 2px 2px #060e1633;
}

.footer :nth-child(1){
    align-self:flex-end;
    margin: .3rem;
}

.footer :nth-child(2){
    align-self:flex-start;
}
