.main{
    grid-template-areas: 
    "avatar"
    "title"
    "line"
    "subtitle"
    "diferencial"
    "network-links";
    grid-template-rows: .43fr min-content min-content .15fr .1fr .27fr;
}

.main__avatar__container{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 2px solid #0288D1;
    justify-self: center;
}

.avatar__img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__title{
    color: var(--texto-blanco);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

.main_divisor{
    width: 227px;
    border:1px solid #0288D1;
}

.main__subtitle{
    color: var(--texto-blanco);
    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;
}

.main__diferencial{
    color: var(--texto-naranja);
    font-size: 1.188rem;
    font-weight: 700;
    text-align: start;
    padding:.6rem;
    background-color: var(--background-diferente);
}

.main__network{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.network__links{
    width: 49px;
    height: 48px;
}

.network__logo{
    width: fit-content;
}


@media screen and (min-width: 438px){

    .main__diferencial{
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    .main__network{
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 5rem;
    }
}

@media screen and (min-width: 1024px) {

    .main{
        grid-template-rows: 25% 8% 20% auto 30%;
    }

    .main__title{
        font-size: 3.6rem;
        align-self: end;
        padding: 1rem;
    }

    .main_divisor{
        height: 2px;
        background-color: var(--linea-divisoria);
        align-self: center;
        width: 35%;
    }

    .main__subtitle{
        font-size: 2.8rem;
    }

    .main__diferencial{
        padding:1.1rem;
        font-size: 1.5rem;
        align-self: center;
        background-color: var(--background-diferente);
    }

    .main__avatar__container{
        display:none;
    }

    .network__links{
        width: 59px;
        height: 60px;
    }

}