.main{
    grid-template-areas: 
    "avatar"
    "title"
    "line"
    "subtitle"
    "diferencial"
    "network-links";
    grid-template-rows: .47fr .09fr min-content .15fr .1fr .27fr;
}

.main__avatar__container{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 5px inset #0288D1;
    justify-self: center;
    align-self: center;
}


.avatar__img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__title{
    color: var(--texto-blanco);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

.main_divisor{
    width: 260px;
    border:1px solid var(--linea-divisoria);
}

.main__subtitle{
    color: var(--texto-blanco);
    font-weight: 700;
    text-align: center;
    font-size: 1.680rem;
}

.main__diferencial{
    color: var(--texto-naranja);
    font-size: 1.188rem;
    font-weight: 700;
    text-align: start;
    padding:.6rem;
    background-color: var(--background-diferente);
    box-shadow: 0px 1px 2px #060e1669, 0px -1px 2px #060e1669;
}

.main__network{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.network__links{
    width: 49px;
    height: 48px;
}

@media screen and (max-width: 340px){
    .main__subtitle{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 438px){

    .main__diferencial{
        text-align: center;
    }
}

@media screen and (min-width: 420px){
    .main__subtitle{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) {
    .main__network{
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 5rem;
    }
}

@media screen and (min-width: 1024px) {

    .main{
        grid-template-rows: 25% 8% 20% auto 30%;
    }

    .main__title{
        font-size: 3.6rem;
        align-self: end;
        padding: 1rem;
    }

    .main_divisor{
        height: 2px;
        background-color: var(--linea-divisoria);
        align-self: center;
        width: 491.516px;
    }

    .main__subtitle{
        font-size: 2.8rem;
    }

    .main__diferencial{
        padding:1.1rem;
        font-size: 1.5rem;
        align-self: center;
        background-color: var(--background-diferente);
    }

    .main__avatar__container{
        display:none;
    }

    .network__links{
        width: 59px;
        height: 60px;
        transition:.5s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        position: relative;
    }

    .network__links:hover{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .network__links::after{
        content:"🡅";
        font-size: 1.8rem;
        left: 17px;
        position:relative;
        top: 7px;
        color: white;
        text-shadow: 1px 1px 1px rgb(68, 68, 68);
        display:none;
    }

    .network__links:hover::after{
        display:block;
        overflow: hidden;
        transform: translatey(0px);
        animation: arrowfloat 1.5s ease-in-out infinite;
        text-shadow: 2px 2px 0px #202020;
    }

    @keyframes arrowfloat {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-5px);
        }
        100% {
          transform: translatey(0px);
        }
      }

}