.hard-skills, .soft-skills{
    grid-template-areas: 
    "title"
    "grid";
    grid-template-rows: .6fr .7fr;
    padding: 1rem;
    font-weight: 700;
}

.skills__box__img-container{
    width: 35px;
    height: 35px;
}

.image__box__image{
    width: 35px;
    height: 35px;
}

.reescalar{
    width: 40px;
    height: 40px;
}

.skills__box__container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    gap: 2rem 1rem;
}

.skills__box{
    width: 100%;
    height: 100%;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--background-box-skills);
    border-radius: 10px;
}

.skills__box ul{
    width: 100%;
    height: 125px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
}

.skills__box li{
    padding-left: .7rem;
}

.skills__box__img-container{
    padding-top: 1.3rem;
}

.skills__name{
    color: var(--texto-blanco);
}


@media screen and (min-width: 768px) {

    .hard-skills, .soft-skills{

        grid-template-rows: .3fr .5fr .1fr;

    }


    .skills__box__container{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1024px){
    
    .hard-skills, .soft-skills{
        grid-template-rows: auto 145px auto;
        padding: .9rem;
    }


    .skills__box__container{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0 .2rem;
        column-gap: .8rem;
        justify-items: center;
    }

    .skills__box{
        height: 138px;
        width: 152px;
    }

    .skills__box ul{
        align-self: center;
        grid-template-rows: auto auto;
    }

    .skills__box ul li{
        padding-left: .5rem;
    }

    .skills__name{
        font-size: 1.2rem;
        padding: 0 .1rem;
    }

    .soft-skills .skills__name{
        font-size: 1rem;
        padding: 0 0;
    }

    .soft-skills ul{
        height: 100%;
    }
    
    .soft-skills :nth-child(4) ul :nth-child(2){
        padding: 0 0 0 .4rem;
    }

}

@media screen and (min-width: 1050px) {

  
    .hard-skills, .soft-skills{
        grid-template-rows: auto 145px auto;
        padding: .9rem;
    }


    .skills__box__container{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0 .2rem;
        column-gap: .8rem;
        justify-items: center;
    }

    .skills__box{
        height: 138px;
        width: 190px;
    }

    .skills__box ul{
        align-self: center;
        grid-template-rows: auto auto;
    }

    .skills__box ul li{
        padding-left: .5rem;
    }

    .skills__name{
        font-size: 1.2rem;
        padding: 0 .1rem;
    }

    .soft-skills .skills__name{
        font-size: 1rem;
        padding: 0 0;
    }

    .soft-skills ul{
        height: 100%;
    }
    
    .soft-skills :nth-child(4) ul :nth-child(2){
        padding: 0 0 0 .4rem;
    }

}