.hard-skills, .soft-skills{
    grid-template-areas: 
    "title"
    "grid";
    grid-template-rows: .6fr .7fr;
    padding: 1rem;
    font-weight: 700;
}

.skills__box__img-container{
    width: 35px;
    height: 35px;
}

.image__box__image{
    width: 35px;
    height: 35px;
}

.reescalar{
    width: 40px;
    height: 40px;
}

.skills__box__container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem 1rem;
}

.skills__box{
    width: 100%;
    height: 100%;
    max-width: 166.547px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--background-box-skills);
    border-radius: 10px;
    transition:.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.skills__box:hover, .skills__box:focus , .skills__box:active {
    box-shadow: 11px 11px 4px #0c1c2d;
    background-color: #052645;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}


.skills__box__container:hover .skills__box {
  filter:grayscale(77%);
}

.skills__box__container .skills__box:hover {
  filter:grayscale(0%);
}

.soft-skills .skills__box:hover .image__box__image{
    filter:hue-rotate(164deg);
}


.skills__box ul{
    max-width: 100%;
    height: 125px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;

}

.skills__box li{
    padding-left: .7rem;
}

.skills__box__img-container{
    padding-top: 1.3rem;
}

.skills__name{
    color: var(--texto-blanco);
    font-size: .9rem;
}




@media screen and (min-width: 500px) {
    .hard-skills, .soft-skills{
        grid-template-rows: .15fr .7fr;
    }
    
    .skills__box__container{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .skills__box ul{
        height: 100%;
    }
    
    .skills__box{
        max-width: none;
        height: 145px;
    }
    
    .skills__name{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {

    .hard-skills, .soft-skills{
        padding: 1rem 2rem;
    }

    .hard-skills{
        grid-template-rows: .20fr .7fr;
    }

    .soft-skills{
        grid-template-rows: .15fr .7fr;
    }

    .skills__box{
        max-width: none;
        height: 175px;
    }
    
    .skills__name{
        font-size: 1.2rem;
        letter-spacing: .07rem;
    }

    .image__box__image{
        width: 40px;
        height: 40px;
    }

    .reescalar{
        width: 45px;
        height: 45px;
    }
    
}

@media screen and (min-width: 1024px){

    .skills__title{
        align-self: end;
    }
    
    .skills__box__container{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0 .2rem;
        column-gap: .8rem;
        justify-items: center;
    }

    .skills__box{
        height: 138px;
        width: 152px;
    }

    .skills__box ul{
        align-self: center;
        grid-template-rows: auto auto;
    }

    .skills__box ul li{
        padding-left: .5rem;
    }

    .skills__name{
        font-size: 1rem;
        padding: 0 .1rem;
    }

    .soft-skills .skills__name{
        font-size: 1rem;
        padding: 0 0;
    }

    .soft-skills ul{
        height: 100%;
    }
    
    .soft-skills :nth-child(4) ul :nth-child(2){
        padding: 0 0 0 .4rem;
    }

}

@media screen and (min-width: 1050px) {

    .skills__box{
        width: 160px;
    }
        
}

@media screen and (min-width: 1340px) {

    .skills__box{
        width: 185px;
        height: 148px;
    }

    .skills__box ul{
        height: 100%;
    }

    .soft-skills .skills__name{
        font-size: 1rem;
        padding: 0 0;
    }

    .image__box__image{
        width: 40px;
        height: 40px;
    }

    .reescalar{
        width: 45px;
        height: 45px;
    }

    .skills__box:hover{
        box-shadow: 15px 15px 4px #0c1c2d;
    }
}
